.wrapper {
  margin-top: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgb(137, 219, 83);
  border-radius: 100%;
  color: white;
  font-size: 50px;
}

.round:nth-child(7) {
  background-color: purple;
}

.round:nth-child(9) {
  background-color: rgb(182, 179, 179);
  color: black;
}

.divider {
  width: 50px;
  height: 10px;
  background-color: rgb(182, 179, 179);
}