* {
  margin: 0;
  padding: 0;
}

body {
  height: 2000px;
}

.wrapper {
  display: flex;
  position: absolute;
  left: -450px;
  transition: all 1.5s;
  position: fixed;
  bottom: 40px;
}

.connection {
  display: flex;
  width: 450px;
  background-color: rgb(56, 50, 50);
}

.connection img {
  padding: 10px;
}

.connection .description {
  padding-top: 10px;
  color: white;
  font-size: 22px;
}

.connect {
  background-color: rgba(216, 187, 23, 0.863);
  border-radius: 30px 0px 0px 30px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  padding-top: 25px;
  font-size: 19px;
  color: rgb(71, 73, 75);
}

.wrapper:hover {
  transition: all 1.5s;
  left: 0px;
}